<% provide :title, @course.name %>

<div class="background-color">
  <div class="container">
    <div>
      <div class="inline-item">
        <%= image_tag "index", class: "image" %>
      </div>

      <div class="inline-item">
        <h2><%= @course.name %></h2>
        <% if current_user && @course.user_courses&.first.pending? %>
          <p><%= t "common.pending" %></p>
          <p><%= t "common.wait_admin_confirm" %></p>
        <% elsif current_user && @course.user_courses&.first.not_allowed? %>
          <p><%= t "common.not_allowed" %></p>
          <p><%= t "common.contact_admin_to_enroll" %></p>
        <% elsif current_user && @course.user_courses&.first.finish? %>
          <p><%= t "common.completed" %></p>
          <p><%= t "common.still_see_materials" %>
            <%= link_to t("common.materials"),
              course_lectures_path(course_id: @course.id),
              method: :get,
              class: "inline-item" %>
          </p>
        <% else %>
          <%= link_to user_courses_path(course_id: @course.id),
            method: :post,
            class: "btn btn-primary" do %>
            <%= t "common.enroll_course" %><br>
            <%= t "common.start" %> <%= Date.today %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <h3><%= t "common.lectures" %></h3>
      <%= render collection: @course_lectures,
          partial: "user_courses/course_lecture" %>
    </div>
    <div>
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
    </div>
  </div>
</div>
