<tr id="<%= lecture.number %>">
  <td><%= lecture.number %></td>
  <td><%= lecture.name %></td>
  <td><%= lecture.video_link %></td>
  <td>
    <button id="<%= lecture_counter %>" class="delete_exist_lecture_btn btn btn-danger">
      <i class="fas fa-trash"></i>
    </button>
  </td>
</tr>
