<%= search_form_for @q,
                    url: admin_student_managements_path,
                    method: :get,
                    remote: true do |f| %>
  <div class="row">
    <div class="col-3 form-group">
      <%= label_tag :name, t("field.name") %>
      <%= f.search_field :name_cont,
          class: "form-control",
          placeholder: t("placeholder.name") %>
    </div>
    <div class="col-3 form-group">
      <%= label_tag :start_date, t("field.start_date") %>
      <%= f.date_field :created_at_lteq,
          class: "form-control input-sm",
          datepicker: true %>
    </div>
    <div class="col-3 form-group">
      <%= label_tag :end_date, t("field.end_date") %>
      <%= f.date_field :created_at_gteq,
          class: "form-control input-sm",
          datepicker: true %>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-end">
      <%= submit_tag t("button.search"), class: "btn btn-success" %>
      <%= link_to t("button.reset"),
          admin_student_managements_path,
          remote: true,
          class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
