<% first_user_course = user.first_user_course %>
<tr>
  <td><%= page_index params[:page], user_counter, Settings.per %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.birthday&.strftime Settings.date_format %></td>
  <td><%= user.location %></td>
  <td><%= first_user_course.status %></td>
  <td>
    <% unless first_user_course.finish? %>
      <% if first_user_course.learning? %>
        <%= link_to t("common.finish"),
            admin_user_course_path(id: first_user_course, user_course: {status: "finish"}),
            method: :patch,
            remote: true,
            data: {confirm: t("message.confirm_user")},
            class: "btn btn-success" %>
      <% else %>
        <%= link_to t("common.confirm"),
          admin_user_course_path(id: first_user_course, user_course: {status: "learning"}),
          method: :patch,
          remote: true,
          data: {confirm: t("message.confirm_user")},
          class: "btn btn-primary" %>
      <% end %>
      <% unless first_user_course.not_allowed? %>
        <%= link_to t("common.reject"),
          admin_user_course_path(id: first_user_course, user_course: {status: "not_allowed"}),
          method: :patch,
          remote: true,
          data: {confirm: t("message.confirm_user")},
          class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </td>
</tr>
