<% provide :title, t("common.courses") %>

<div class="container">
  <h2><%= t "common.courses" %></h2>
  <div class="search-border">
    <%= render "search_form" %>
  </div>
  <div>
    <%= link_to t("course.new"), new_admin_course_path, {class: "btn btn-primary"} %>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="col-1"><%= t "field.num_order" %></th>

          <th>
            <div class="btn-group-vertical">
              <%= sort_link @q,
                            :name,
                            t("field.name"),
                            default_order: :asc,
                            remote: true %>
            </div>
          </th>

           <th>
            <%= t "common.num_course_lecture" %>
          </th>

          <th>
            <%= t "common.num_student" %>
          </th>

          <th>
            <%= link_to t("common.pending"),
              admin_student_managements_path(pending: true),
              remote: true %>
          </th>
        </tr>
      </thead>
      <tbody id="courses">
        <%= render collection: @courses, partial: "admin/student_managements/course" %>
      </tbody>
    </table>
    <div class="paginator" id="courses-paginate">
      <%= paginate @courses, remote: true, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
