<%= search_form_for [:admin, @q], remote: true do |f| %>
  <div class="row">
    <div class="col-6 form-group">
      <%= f.label :name, t("field.name") %>
      <%= f.search_field :by_name,
          class: "form-control",
          placeholder: t("placeholder.name") %>
    </div>
    <div class="col-6 form-group">
      <%= f.label :description, t("field.description") %>
      <%= f.search_field :by_description,
          class: "form-control",
          placeholder: t("placeholder.description") %>
    </div>
  </div>
  <div class="row">
    <div class="col justify-content-end">
      <%= f.submit t("button.search"), class: "btn btn-success" %>
      <%= link_to t("button.reset"),
          admin_categories_path,
          remote: true,
          class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
