<tr>
  <td><%= page_index params[:page], course_counter, Settings.per %></td>
  <td><%= course.name %></td>
  <td><%= course.description %></td>
  <td><%= course.status %></td>
  <td><%= course.estimate_time %></td>
  <td>
    <div class="inline-item">
      <%= link_to edit_course_path(course), {class: "btn btn-primary"} do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </div>
    <div class="inline-item">
      <%= link_to course_path(
        id: course.id,
        course: {status: "expired"},
        page: params[:page]),
        method: :patch,
        data: {confirm: t("message.confirm_delete")},
        class: "btn btn-danger" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
