<tr>
  <td><%= page_index params[:page], course_counter, Settings.per %></td>
  <td><%= course.name %></td>
  <td><%= course.description %></td>
  <td><%= course.status %></td>
  <td><%= course.estimate_time %></td>
</tr>
