<tr id="<%= category.id %>">
  <td><%= category_counter %></td>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td>
    <button id="<%= category.id %>">
      <i class="fas fa-trash"></i>
    </button>
  </td>
</tr>
