<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= t "field.num_order" %></th>
      <th scope="col"><%= t "field.name" %></th>
      <th scope="col"><%= t "field.email" %></th>
      <th scope="col"><%= t "field.birthday" %></th>
      <th scope="col"><%= t "field.location" %></th>
      <th scope="col"><%= t "field.enroll_status" %></th>
      <th scope="col"><%= t "field.lecture_learned" %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="users">
      <%= render collection: @users, partial: "admin/courses/tab/user" %>
    </tbody>
  </table>
</div>
