<tr>
  <td><%= page_index params[:page], user_counter, Settings.per %></td>
  <td><%= user.code %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.birthday %></td>
  <td><%= user.location %></td>
  <td></td>
</tr>
