<div class="nested-fields">
  <div class="form-group">
    <%= f.label :number do %>
      <%= t "field.number" %><span class="red-asterisk"> *</span>
    <% end %>
    <%= f.text_field :number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name do %>
      <%= t "field.name" %><span class="red-asterisk"> *</span>
    <% end %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :video_link do %>
      <%= t "field.video_link" %><span class="red-asterisk"> *</span>
    <% end %>
    <%= f.text_field :video_link, class: "form-control" %>
  </div>

  <div class="hide"><%= f.check_box "_destroy" %></div>
</div>
